#map{
    width: 680px;
    height: 585px;
    background-color: white;
    /* position: fixed; */
}

#dot{
  padding-left: 15px;
}

path{
  stroke-width:1px;
}

.text-labels {
   font-weight: 1000;
}
